div.bloc_actus{
    height:80px;
    width:100%;
    overflow:hidden;
    margin:0;
}

div.bloc_actus div{
    position: relative;
    margin-left:0.5%;
    height: 78px;
    border: 1px solid black;
    width: 19%;
    opacity:0.4;
}

div.bloc_actus .active{
    background-color:red;
    opacity:0.9;
}