div.bloc_actus{
    height:200px;
    width:100%;
    overflow:hidden;
    margin:0;
}

div.bloc_actus div{
    position: relative;
    margin-left:0.1%;
    height: 198px;
    background-color: blue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 19.6%;
    opacity:0.4;
    top:0;
}

div.bloc_actus .active{
    background-color:red;
    opacity:0.9;
    color:white;
}